.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 0rem 1rem 0rem 1rem;
} 
  .logo img{
    height: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li {
    padding: 0.5rem;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  