.servicepageimage {
  width: 30%;
  height: 40%;
}

.servicepagetext {
  color: black;
  margin-top: 8%;
  font-weight: bold;
  text-align: start;
  margin-left: 4%;
}

#servicecard {
  width: 33%;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: #d4ded8;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.box12 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  position: relative;
  background-color: #d4ded8;
  flex-direction: column;
  border-radius: 15px 15px 0 0;
  border-style: none;
  transition: height 0.3s ease-in-out;
}

.box13 {
  width: 100%;
  height: 25%;
  background-color: #ccb454;
  font: Poppins;
  font-size: 18px;
  border-radius: 0 0 15px 15px;
  transition: height 0.3s ease-in-out;
}

.box14 {
  width: 92%;
  height: auto;
  font-size: 0;
  color: black;
  display: none;
  font-weight: 600;
  text-align: start;
  line-height: 19.5px;
  margin-left: 4%;
  padding-bottom: 20%;
  transition: height 0.3s ease-in-out;
}

.box23 {
  width: 100%;
  height: 25%;
  background-color: #6cc1b6;
  font: Poppins;
  font-size: 18px;
  border-radius: 0 0 15px 15px;
  transition: height 0.3s ease-in-out;
}

.box1:hover .box12 {
  height: 50%;
}
.box1:hover .box13 {
  height: 50%;
}
.box1:hover .box14 {
  font-size: 60%;
  display: block;
}
.box1:hover .box23 {
  height: 50%;
}

@media screen and (min-width: 768px) {
  .box1 {
    width: 80%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #servicecard {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
  }

  .servicepagetext {
    font-size: 12px;
  }
  .box1 {
    width: 100%;
    height: 95%;
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
  }

  .box14 {
    line-height: 12px;
  }

  .box13 {
    font-size: 15px;
    line-height: 5px;
  }
  .box23 {
    font-size: 15px;
    line-height: 5px;
  }
}

/* Styles for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* .bo14 */
  .box13 {
    font-size: 18px;
    line-height: 5px;
  }
  .box23 {
    font-size: 18px;
    line-height: 5px;
  }
}
