.serviceouterdiv {
  width: 100vw;
  height: 100vh;
}
.serviced2 {
  width: 100%;
  height: 10%;
  margin-top: 10%;
}

#servicecontainer2 {
  padding-left: 9.5%;
  padding-right: 10%;
}

.serviceh1 {
  text-align: start;
  font: poppins;
  color: #ffffff;
  font-weight: 700;
}

.row-container {
  display: flex;
  align-items: center;
}

.serviced1 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .serviceh2 {
    font-size: 10px;
    margin-left: 9%;
    text-align: start;
    color: #c8a21c;
    font: poppins;
  }

  .serviceh1 {
    font-size: 70px;
    margin-left: 9%;
    margin-bottom: 1%;
    text-align: start;
    font: poppins;
    color: #ffffff;
    font-weight: 700;
  }

  .row-container {
    justify-content: center;
    flex-direction: column;
  }

  .serviced1 {
    justify-content: space-around;
    width: 100%;
    margin-bottom: 3%;
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .serviceh1 {
    font-size: 48px;
    margin-left: 3%;
    margin-bottom: 2%;
  }
  .serviced2 {
    font-weight: 10px;
    margin-left: 3%;
    margin-bottom: 20px;
  }

  #servicecontainer2 {
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 6%;
  }

  .serviceh2 {
    font-size: 8px;
    margin-left: 3%;
    text-align: start;
    color: #c8a21c;
    font: poppins;
  }

  .row-container {
    justify-content: space-around;
    flex-direction: row;
    width: 99%;
    height: 80%;
  }

  .serviced1 {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-bottom: 1%;
    margin-top: 3%;
    margin-left: 0%;
    flex-direction: column;
  }
}

/* pc and laptop*/
@media (min-width: 1024px) {
  .serviced2 {
    margin-left: 4%;
  }

  .row-container {
    margin: 10%;
    width: 80%;
    height: 90%;
  }
  .serviced1 {
    height: 45%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
  .serviced2 {
    margin-left: 0%;
  }

  .row-container {
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    height: 45%;
  }

  .serviced1 {
    justify-content: space-around;

    height: 100%;
  }

  #servicecontainer2 {
    padding-left: 5%;
    padding-right: 7%;
  }
}
